.wrapper > bread-crumbs {
    font-size: 2rem;
    max-width: 65rem;
    margin: 0 auto;
    padding: 0 1rem;
}

.video-box {
    padding-top: 18px;
    width: 192px;
}

.image-box {
    width: 192px;
}

.folder-box {
    width: 192px;
}

/*
  AUTO GRID
  Set the minimum item size with `--auto-grid-min-size` and you'll
  get a fully responsive grid with no media queries.
*/
.auto-grid {
    --auto-grid-min-size: 10rem;
  }

.auto-grid > * {
    max-width: 400px;
}

.auto-grid > * + * {
    margin-top: 1rem;
}

@supports(display: grid) {
    .auto-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
        grid-gap: 1rem;
    }

    .auto-grid > * {
        max-width: unset;
    }

    .auto-grid > * + * {
        margin-top: unset;
    }
}

/*
  WRAPPER
  A utility with a max width that contains child elements and horizontal centers them
*/
.wrapper {
    max-width: 65rem;
    margin: 0 auto;
    padding: 0 1rem;
}

/* Presentational styles */
body {
    background: #efefef;
    padding: 1rem 0;
    line-height: 1.4;
    font-family: sans-serif;
}

li {
    padding: 0.5rem 0.5rem;
    text-align: center;
    font-size: 1rem;
}

ul {
    list-style-type: none;
}


/* Loading Indicator */

.spinner-hidden {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.spinner-visible {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
