.page {
    width: 100%;
}

.photo-box {
    margin-left: 9%;
    float: left;
    text-shadow:5px 5px 10px black;
}

.photo-box > a > img {
}

.folder-box {
    margin-left: 9%;
    float: left;
    text-shadow:5px 5px 10px black;
}

.folder-box > a > p {
    font-size: 75%;
    text-align: center;
}

.folder-box > a > img {
}

/**
 * Foundation elements
 */
.small-panel {
    padding-bottom: 0px;
}

a.item.small-icon-anchor {
    padding: 5px;
}

.icon-bar > * i.small-icon {
    font-size: 1em;
}

i.fi-arrow-left.nasphotos-back-icon {
    font-size: 1.25em;
    vertical-align: top;
    color: green;
}
