.page {
    width: 100%;
}

.photo-box {
    width: 150px;
    height: 150px;
    margin-left: 7px;
    float: left;
    text-shadow:5px 5px 10px black;
}

.photo-box > a > img {
    width:145px;
    height:145px;
}

.folder-box {
    width: 150px;
    height: 170px;
    margin-left: 7px;
    float: left;
    text-shadow:5px 5px 10px black;
}

.folder-box > a > p {
    width: 145px;
    font-size: 75%;
    text-align: center;
}

.folder-box > a > img {
    width:145px;
    height:145px;
}

/**
 * Foundation elements
 */
.small-panel {
    padding-bottom: 0px;
}

a.item.small-icon-anchor {
    padding: 5px;
}

.icon-bar > * i.small-icon {
    font-size: 1em;
}

i.fi-arrow-left.nasphotos-back-icon {
    font-size: 1.25em; 
    vertical-align: top; 
    color: green;
}
