[Unit]
Description=nasphotos
Requires=docker.service
After=docker.service

[Service]
Environment=DOPTS="--restart=always"
Environment=CONTAINERNAME=nasphotos
Environment=IMAGE=nasphotos
Environment=QUARKUS_HTTP_PORT=8081
Environment=PHOTOPATH=/data/
Environment=VOLUME=/mnt/media/Pictures:/data
ExecStart=/usr/bin/docker run $DOPTS --name ${CONTAINERNAME} -p ${QUARKUS_HTTP_PORT}:${QUARKUS_HTTP_PORT} -e PHOTOPATH=${PHOTOPATH} -e QUARKUS_HTTP_PORT=${QUARKUS_HTTP_PORT} -v ${VOLUME} ${IMAGE}
ExecStop=/usr/bin/docker stop -t 10 ${CONTAINERNAME}
ExecStopPost=/usr/bin/docker rm -f ${CONTAINERNAME}
ExecReload=/usr/bin/docker exec -t ${CONTAINERNAME} kill -HUP 1

[Install]
WantedBy=default.target
